<app-navbar></app-navbar>
<body>
  <h1>Gerenciamento de Oportunidades de Vendas</h1>

  <div class="btnRelatorio">
    <div class="btnCadastro">
      <button type="button" (click)="abrirModal()">Cadastrar Gerenciamento</button>
    </div>
  </div>

  <div class="tabela-com-scroll">
    <table>
      <thead>
        <tr>
          <th>Código Gerenciamento</th>
          <th>Estagio da Oportunidade</th>
          <th>Valor Estimado da Venda</th>
          <th>Nome do cliente</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gerenciamento of gerenciamentos">
          <td>{{gerenciamento.id}}</td>
          <td>{{gerenciamento.estagioDaOportunidade}}</td>
          <td>{{gerenciamento.valorEstimadoDaVenda}}</td>
          <td>{{gerenciamento.cliente.nomeCompleto}}</td>
          <td>      
            <button class="btn" (click)="setEditar(gerenciamento)">Editar</button>
            <button class="btn btn-vermelho" (click)="delete(gerenciamento.id)">Excluir</button>   
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-------------------------------- MODAL ------------------------------------------------------------------------------------>
  <div class="modal-container" id="janelaModal">
    <div class="container">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Oportunidades de Vendas</h5>
        <a id="editar" routerLink="/gerenciamentos" (click)="fecharModal()">X</a>
      </div>
      <div>
        <form #formulario="ngForm" (ngSubmit)="save(formulario)">
          <div class="form-group">
            <div class="formInputSelect">
              <label for="id">Código do Gerenciamento</label>
              <input class="id" type="text" name="id" id="id" readonly ngModel>
            </div>
            <div class="formInputSelect">
              <label for="estagioDaOportunidade">Estagio da Oportunidade*</label>
              <select class="estagioDaOportunidade" name="estagioDaOportunidade" id="estagioDaOportunidade" ngModel required>
                <option value="PROSPECT">PROSPECT</option>
                <option value="QUALIFICACAO">QUALIFICACAO</option>
                <option value="PROPOSTA">PROPOSTA</option>
                <option value="FECHAMENTO">FECHAMENTO</option>
              </select>
            </div>          
            <div class="formInputSelect">
              <label for="valorEstimadoDaVenda">Valor Estimado Da Venda*</label>
              <input class="valorEstimadoDaVenda" type="text" name="valorEstimadoDaVenda" id="valorEstimadoDaVenda" ngModel required>
            </div>
            <div class="formInputSelect">
              <label for="clienteId">Código e Nome do Cliente*</label>
              <select name="clienteId" id="idCliente" [(ngModel)]="clienteId" (change)="onClienteSelectionChange(clienteId)">
                <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.id}} - {{cliente.nomeCompleto}}</option>
              </select>
            </div>
          </div>
          <div class="botoes">
            <input id="botoes" type="submit" value="Salvar">
            <input id="botoes" type="reset" value="Limpar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-------------------------------- FIM do MODAL -------------------------------------------------------------------------------->

</body>
